div{
    background-image:url(https://thuvienvector.com/upload/images/items/vector-phong-nen-chu-de-ngay-nha-giao-viet-nam-20-11-1722.webp) ;
    width: 300px; 
    height: 200px;
    background-size: 300px 200px;
    border: 3px solid black ;
    border-radius: 10px;
}
.display{
    text-align: center;

}
body{
    background-color: #ffd08d ;
}